/* 
    Made by: Hisham Almoli
    Updated: Dec 14, 2022
 */
 
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
}

main {
  display: flex;
  justify-content: left;
  flex-direction: column;
  width: 90%;
  margin: 2em;
  background-color: #f4f1ec;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */